.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.mb-10px {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centraliza horizontalmente */
  gap: 16px; /* espaço entre os cards */
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.card-size {
  width: 288px;
  height: 182px;
}
